{% extends "_base.html" %} {% block main %}
<h1 class="text-4xl theme-color-gray font-bold mt-4 text-center">
  Registration details
</h1>
<form action="/register_airtable" method="post">
  <div class="mt-2">
    <div class="flex flex-wrap flex-row-reverse text-center">
      <div class="flex-col justify-center items-center w-full xl:w-1/3 m-4">
        <div class="relative border-2 rounded-sm p-2">
          <image class="object-contain m-auto" src="{{ session.product.images.large }}"
            alt="image of {{ session.product.title }}" />
          <input type="hidden" name="image_url" value="{{ session.product.images.large }}" />
          <div class="absolute inset-x-0 bottom-0 mb-4">
            <button class="cursor-pointer px-10 py-2 bg-gray-200 rounded-full"
              onclick="window.open('{{ session.product.url }}', '_blank')">
              View on Amazon
            </button>
            <input type="hidden" name="url" value="{{ session.product.url }}" />
          </div>
        </div>
      </div>
      <div class="flex-grow flex-col text-left">
        <div class="mt-2">
          <label class="mt-2 mx-4" for="title">Title:
            <span class="text-red-500 text-xs font-extralight"> *required</span>
          </label>
          <input class="ml-4 px-2 py-2 w-11/12 border-solid border-2 border-gray-500 rounded-md" type="text"
            name="title" id="title" value="{{ session.product.title }}" required />
        </div>
        <div class="mt-2">
          <label class="mt-2 mx-4" for="asin">ASIN Code:</label>
          <input class="ml-4 px-2 py-2 w-11/12" type="text" name="asin" id="asin" value="{{ session.product.asin }}"
            readonly />
        </div>
        <div class="mt-2">
          <label class="mt-2 mx-4" for="manufacturer">Manufacturer:</label>
          <input class="ml-4 px-2 py-2 w-11/12 border-solid border-2 border-gray-500 rounded-md" type="text"
            name="manufacturer" id="manufacturer" value="{{ session.product.info.manufacturer or '' }}" />
        </div>
        <div class="mt-2">
          <label class="mt-2 mx-4" for="contributors">Contributors:</label>
          <input class="ml-4 px-2 py-2 w-11/12 border-solid border-2 border-gray-500 rounded-md" type="text"
            name="contributors" id="contributors" value="{{ session.product.info.contributors or '' }}" />
        </div>
        <div class="mt-2">
          <label class="mt-2 mx-4" for="publication_date">Publication date:
            <span class="text-yellow-500 text-xs font-extralight"> e.g. "2020/08/31 13:57"</span>
          </label>
          <input class="ml-4 px-2 py-2 w-11/12 border-solid border-2 border-gray-500 rounded-md" type="datetime-local"
            name="publication_date" id="publication_date" value="{{ session.product.info.publication_date or '' }}" />
        </div>
        <div class="mt-2">
          <label class="mt-2 mx-4" for="product_group">Product group:</label>
          <input class="ml-4 px-2 py-2 w-11/12 border-solid border-2 border-gray-500 rounded-md" type="text"
            name="product_group" id="product_group" value="{{ session.product.info.product_group or '' }}" />
        </div>
        <div class="mt-2">
          <label class="mt-2 mx-4" for="registrant">Registrant:
            <span class="text-red-500 text-xs font-extralight"> *required</span>
          </label>
          <select class="ml-4 px-2 py-2 w-11/12 border-solid border-2 border-gray-500 rounded-md"
            name="registrants_name" id="registrant" required />
            {% for registrant in config.ASSET_REGISTRANTS %}
            <option value="{{ registrant }}">{{ registrant }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="mt-2">
          <label class="mt-2 mx-4" for="default_position">Default position:
            <span class="text-red-500 text-xs font-extralight"> *required</span>
          </label>
          <input class="ml-4 px-2 py-2 w-11/12 border-solid border-2 border-gray-500 rounded-md" list="positions"
            name="default_positions" id="default_position" required />
          <datalist id="positions">
            {% for position in config.ASSET_POSITIONS %}
            <option value="{{ position }}"></option>
            {% endfor %}
          </datalist>
        </div>
        <div class="mt-2">
          <label class="mt-2 mx-4" for="current_position">Current position:
            <span class="text-red-500 text-xs font-extralight"> *required</span>
          </label>
          <input class="ml-4 px-2 py-2 w-11/12 border-solid border-2 border-gray-500 rounded-md" list="positions"
            name="current_position" id="current_position" required />
        </div>
        <div class="mt-2">
          <label class="mt-2 mx-4" for="features">Features:</label>
          <textarea class="ml-4 px-2 py-2 w-11/12 border-solid border-2 border-gray-500 rounded-md" rows="6" type="text"
            name="features" id="features"
            value="{{ session.product.product.features or '' }}">{{ session.product.product.features or '' }}</textarea>
        </div>
        <div class="mt-2">
          <label class="mt-2 mx-4" for="note">Note:</label>
          <textarea class="ml-4 px-2 py-2 w-11/12 border-solid border-2 border-gray-500 rounded-md" rows="3" type="text"
            name="note" id="note" placeholder="Enter some long form content."></textarea>
        </div>
      </div>
    </div>
    <div class="flex flex-wrap justify-around text-center m-4">
      <input class="cursor-pointer mt-5 mx-auto px-10 py-2 bg-gray-400 rounded-full" type="button" value="Cancel"
        onClick="location.href='/'" />
      <input class="cursor-pointer mt-5 mx-auto px-10 py-2 theme-bg-color-blue rounded-full" type="submit"
        value="Register" />
    </div>
  </div>
</form>

{% endblock %}
